* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  position: relative;
}
.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
  transform: perspective(1000px);
  transform-style: preserve-3d;
}
.bg span {
  position: relative;
  display: inline-block;
  height: 5em;
  width: 5em;
  opacity: 0;
  transition: all 500ms ease;
  animation: opacity infinite 3s linear alternate;
}
.bg span:hover {
  opacity: 0;
  scale: 2;
}
.bg span:nth-child(odd) {
  animation-delay: 1s;
}
.bg span:nth-child(even) {
  animation-delay: 2s;
}
/* .bg span:nth-child(4n+4){
  animation-delay: 3s;
}
.bg span:nth-child(5n+5){
  animation-delay: 4s;
} */
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translate3d(-50px, -50px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate3d(50px,50px,30px);
  }
}
